@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components  {
  .font-trends {
      font-size: 11rem;
      line-height: 10rem;
      font-weight: 700;
      color: RGB(54, 60, 62);
          }
  .bg-home{
      background-color: RGB(4, 11, 14);
  }
}

@layer base {
  .titles{
   @apply text-white text-4xl py-7   
  }
}